.home {
        margin: 1rem auto;
        width: 90%;
        min-height: 40vh;
        gap: 2rem;
        @include flexMix(
          flex
        ); // default değer verdiğim için justify content değerini göndermiyorum  
        &__image{
    // height: 500px;
    // width: 45%;
    // background-position: center center;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-image: url(/SASS_PROJECT/images/image1.png);
  @include bgImage(500px, 45%, "/SASS_PROJECT/images/image1.png");
        }
        &__form {
            width: 45%;
            h2 {
              @include fontMix("Playfair Display", normal, 700, 4rem, 80px);
              color: $headerColor;
            }
            h3 {
              @include fontMix("Inter", normal, 600, 1.4rem, 27px);
              color: $headerColor;
            }
            hr {
              width: 2rem;
              border: 1px solid;
            }
            form {
              @include flexMix(flex, space-between);
              padding: 1rem 0;
              flex-wrap: wrap;
              gap: 0.5rem;
              width: 100%;
              select {
                width: 48%;
                height: 2.3rem;
                border: 0.8px solid;
                border-radius: 6px;
                padding: 0.5rem;
                @include fontMix("Inter", normal, 400, 0.9rem, auto);
                color: $fontColor;
              }
            }
            &--button {
                //   margin: 1rem 0px;
                //   border: none;
                //   background: rgb(251, 143, 29);
                //   border-radius: 8px;
                //   font-family: Inter;
                //   font-style: normal;
                //   font-weight: 500;
                //   font-size: 0.9rem;
                //   width: 90px;
                //   height: 30px;
                //   color: rgb(255, 255, 255);
                  @include btnMix(90px);
                }
              }
            }
            